<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <%= @articles.each do |article| %>
  <div class="col">
    <div class="card h-100">
      <%=image_tag(article.image_url,class: "card-img-top" ) unless article.image_url.nil? %>
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">More..</a>
      </div>
    </div>
  </div>
  <% end %>
</div>


<%= link_to 'New Article', new_article_path %>

